.wrds{
  font-size: 2.5em;
  color: #578ba8;
  font-family: sans-serif;
}
.fm{
  width: 33%;
  height: 55px;
  margin: 10px auto;
  font-size: 1.6em;
}
#validar {
  width: 100%;
  height: 58px;
  font-size: 2em;
}
#notif_profe{
font-size: 1em;
background-color: #e3dbdb;
position: absolute;
top: 33px;
right: 18%;
padding: 7px;
}



#notif_alumn{
font-size: 0.8em;
background-color: #12f114;
position: absolute;
top: 33px;
right: 25%;
padding: 7px;
color: rgb(247, 245, 231);
}
#alumno{
width: 100%;
height: 80px;
font-size: 2em;
margin-top: 30px;
}

#boton{
  width: 100%;
  height: 73px;
}
#title{
  margin: 2% auto;
  text-align: left;
  padding:1%;
  border: 2px solid #727281;
}
